@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #f0f0f0;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  min-height: 100vh;
}

#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
  /* min-height: 100vh;
  margin-left: -15rem;
  transition: margin 0.25s ease-out; */
  width: 250px;
  transition: transform 0.3s ease;
  transform: translateX(0);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 1000;
}
#sidebar-wrapper.closed {
  transform: translateX(-100%);
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
  transition: margin-left 0.3s;
}
#page-content-wrapper.closed {
  margin-left: 0;
}

body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }
  
  #page-content-wrapper {
    min-width: 0;
    width: 100%;
    margin-left: 250px;
  }
  body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
    margin-left: -15rem;
  }
}